<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <span> Leave a coment</span>
            </div>
            <div class="card-body">
                 <%= form_for @post.comments.build do |f| %>
                    <%= hidden_field_tag :post_id, @post.id  %>
                    <div class="mb-3">
                        <%= f.label :email, class: 'form-label' %>
                        <%= f.text_field :email, class: 'form-control' %>
                    </div>
                    <div class="mb-3">
                        <%= f.label :body, class: 'form-label' %>
                        <%= f.text_area :body, class: 'form-control'%>
                    </div>
                    <%= f.submit 'Push comment', class: 'btn btn-primary' %>
                <% end %>
            </div>
        </div>
    </div>
</div>


